

.container:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
    background-image: url("../img/pexels-marlene-leppänen-4370440.jpg   ") ;
    width: 100%;
    height: 100%;
  background-size: cover;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.container{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 0;
        margin-left: 20px;
        margin-right: 20px;
        height: 30%;     
}

.image{
    width: 54%;
    border-radius:  30px 0 0 30px ;
}

body{

    margin: 0 0;
}

.form_box{
    background-color: black;
    margin: 2% auto;
    width: 67%;
    height: 302%;
    display: flex;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 10px 8px #303030;
}
.form{
    margin: 10% auto;
}

.title{
  
  color: white;
  margin-left: 24%;
}
h3{
    color: white;
    margin-left: 45%;
}

input{
    background-color: black;
    /* border-style: solid; */
    border-color: white;
    padding: 11px 27px;
    margin-top: 20px;
    width: 72%;
    margin: 10px 66px;
    color: white;
}

span{
    color: rgb(248, 114, 90);
    cursor: pointer;
}

h5{
    color: white;
    margin-left: 204px;
}


.button {
    transition-duration: 0.4s;
    font-size: 16px;
    margin: 4px 2px;
    padding: 13px 65px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: #DCB898;
    border-radius: 10px;
    border: none;
    margin-left: 36%;
    
  }
  
  .button:hover {
    background-color: #54b1d3; /* Green */
    color: white;
  }
/*  */